<fieldset class="flex">
  <div class="flex-1">
    <label>{{@record.question}}</label>
    <ul>
      {{#each @record.options as |option index|}}
        {{#let (if (eq index @record.answer) 'green' 'red') as |selectedClass|}}
          {{#if @showHints}}
            <li class={{if (or this.value (eq this.value 0)) selectedClass}}>
              <input
                name="field_{{@uuid}}"
                type="radio"
                value={{index}}
                {{on "change" this.valueChanged}}
              />
              <label for="field_{{@uuid}}">{{option}}</label>
            </li>
          {{else}}
            <li class={{if (and @submitted (or this.value (eq this.value 0))) selectedClass}}>
              <input
                name="field_{{@uuid}}"
                type="radio"
                value={{index}}
                {{on "change" this.valueChanged}}
              />
              <label for="field_{{@uuid}}">{{option}}</label>
            </li>
          {{/if}}
        {{/let}}
      {{/each}}
    </ul>
  </div>
  {{#if @record.metadata.imgPath}}
    <img class="flex-shrink-0" src={{@record.metadata.imgPath}} />
  {{/if}}
</fieldset>