<form>
  <input type="checkbox" checked={{this.showHints}} {{on "change" this.toggleHints}} /> Show correct/incorrect answers on select
  <br />
  <br />
  {{#each @questions as |entry uuid|}}
    <Question
      @record={{entry}}
      @uuid={{uuid}}
      @onChange={{this.updateModel}}
      @showHints={{this.showHints}}
      @submitted={{this.submitted}}
    />
  {{/each}}

  <button type="submit" {{on "click" this.submit}}>
    Submit
  </button>
</form>

{{#if this.showModal}}
  <div class="overlay"></div>
  <div class="modal">
    {{#if this.valid}}
      <Valid />
      <button {{on "click" this.closeModal}}>Close</button>
    {{else}}
      <Invalid @percentage={{this.percentage}} />
      <button {{on "click" this.closeModal}}>Review</button>
    {{/if}}
  </div>
{{/if}}